build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json
*.o
*.obj
*.exe
*.dll
*.so
*.dylib
*.log
*.ipch
*.pch
*.zip
*.tar.gz
*.bak
.DS_Store
.vscode/
.idea/
*.code-workspace

